.cboxol-admin-content {
	background: #fff;
	border: 1px solid #ccc;
	border-top: none;
	padding: 30px 20px;
}

.cboxol-admin-wrap .nav-tab:first-child {
	margin-left: 0;
}

.cboxol-admin-wrap .nav-tab-active {
	background: #fff;
	border-bottom: 1px solid #fff;
}

/** Type summary page */

.types-ui {
	background: #fff;
}

.cboxol-item-type {
	margin-bottom: 14px;
}

.cboxol-item-type-header {
	background: #ededed;
	border: 1px solid #ccc;
	font-weight: bold;
	overflow: hidden;
	padding: 8px 12px;
}

.cboxol-item-type-header-label {
	float: left;
	width: 75%;
}

.cboxol-item-type.disabled .cboxol-item-type-header-label {
	color: #888;
	font-style: italic;
}

.cboxol-item-type-header-actions {
	float: right;
	width: 20%;
	text-align: right;
}

.cboxol-item-type-header-actions a {
	display: inline-block;
	position: relative;
	height: 18px;
	text-decoration: none;
	width: 100%;
}

.cboxol-item-type-header-actions a span {
	display: inline-block;
	position: absolute;
	right: 24px;
	top: 8;
	text-decoration: underline;
}

.cboxol-item-type-header-actions a:focus {
	box-shadow: none;
}

.cboxol-item-type-header-actions a:after {
	color: #666;
	content: "\25B2";
	font-size: 26px;
	margin-left: 8px;
	top: 14px;
}

.cboxol-item-type.collapsed .cboxol-item-type-header-actions a:after {
	content: "\25BC";
}

a .action-arrow {
	color: #999;
	margin-left: 8px;
	text-decoration: none;
}

.cboxol-item-type.collapsed .cboxol-item-type-header {
	background: transparent;
}

.cboxol-item-type.collapsed .cboxol-item-type-content {
	display: none;
}

.cboxol-item-type-content {
	border: 1px solid #ccc;
	border-top: none;
	padding: 30px 20px;
}

.cboxol-item-type-content-section {
	clear: both;
	margin-bottom: 30px;
	overflow: hidden;
}

.cboxol-item-type-content-section-header {
	display: block;
	font-size: 12pt;
	font-weight: bold;
}

.cboxol-item-type-setting {
	margin-bottom: 15px;
}

.cboxol-setting-label {
	float: left;
	width: 200px;
}

.cboxol-setting-content {
	margin-left: 220px;
}
