.site-template-picker {
	display: grid;
	grid-template-columns: repeat(1, minmax(150px, 1fr));
	gap: 10px;
}

.site-template-component {
	background: none;
	border: 3px solid transparent;
	border-bottom: 2px solid #eee;
	box-shadow: none;
	text-align: left;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 12px 0;
	margin-bottom: 12px;

	&:focus-within,
	&.is-selected {
		border: 3px solid #66afe9 !important;
		box-shadow: none;
	}

	&.has-hover {
		::after {
		  content: "";
		  position: absolute;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: #000;
		  opacity: 0.02;
		  z-index: 1;
		  pointer-events: none;
		}
	}

	&:last-child {
		border-bottom: inherit;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.site-template-component__button {
	background: none;
	border: none;
	box-shadow: none;
	color: #050505;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-top: 2px;
	padding: 0;
	text-align: left;

	&:focus {
		outline: none;
	}
}

.site-template-component__image {
	background: #F9FAFB;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	max-height: 205px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.site-template-component__description {
	margin-top: 10px;
	line-height: 1.4;

	a {
		color: #0073aa;
		text-decoration: underline;
		position: relative;
		z-index: 2;

		&:hover,
		&:focus {
			color: #005177;
			text-decoration: none;
		}

		&:focus {
			outline: 2px solid #0073aa;
			outline-offset: 2px;
		}

		.screen-reader-text {
			border: 0;
			clip: rect(1px, 1px, 1px, 1px);
			clip-path: inset(50%);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
			word-wrap: normal !important;
		}
	}
}

.site-template-new-window-icon {
	color: #0073aa;
	margin-left: 4px;
	position: relative;
	top: 1px;
	vertical-align: baseline;
}

.site-template-component__meta {
	display: flex;
	flex-direction: column;
	line-height: 1.2;
	margin-top: 12px;
	padding: 15px;
}

.site-template-component__category {
	color: #2a2b2c;
	font-size: 12px;
	font-weight: 500;
	opacity: 0.5;
}

.site-template-pagination {
	display: flex;
	margin-top: 20px;

	.prev {
		margin-right: 15px;
	}
}

@media (min-width: 768px) {
	.site-template-picker {
		grid-template-columns: repeat(2, minmax(150px, 1fr));
	}

	.site-template-component {
		border-bottom: 3px solid transparent;
	}
}

@media (min-width: 992px) {
	.site-template-picker {
		grid-template-columns: repeat(3, minmax(150px, 1fr));
	}
}
