.wp-list-table tr[draggable="true"] {
	cursor: move;
}

.cboxol-dragover {
	background-color: #aaa !important;
	padding-bottom: 30px !important;
}

.cboxol-dragging {
	opacity: 0.5;
}

.cboxol-just-dropped {
	background-color: #f0fff0 !important;
}

tr {
	transition: background-color 0.5s;
}

.template-visibility-radios > legend {
	font-size: 1.2em;
	font-weight: 700;
}

.template-visibility-radios legend {
	margin-bottom: .5em;
}

.template-visibility-suboptions {
	margin: .5em 0;
	padding: 0 0 0 20px;
}

.template-visibility-suboptions label {
	padding-left: 3px;
}
