.wp-list-table tr[draggable="true"] {
	cursor: move;
}

.cboxol-dragover {
	background-color: #aaa !important;
	padding-bottom: 30px !important;
}

.cboxol-dragging {
	opacity: 0.5;
}

.cboxol-just-dropped {
	background-color: #f0fff0 !important;
}

tr {
	transition: background-color 0.5s;
}
